{erl_opts, [debug_info]}.

{deps, [meck]}.

{shell,
 % {config, "config/sys.config"},
 [{apps, [text_crusherl]}]}.

{project_plugins, [rebar3_format]}.

{format, [{formatter, default_formatter}, {options, #{paper => 100, break_indent => 2}}]}.

{extra_src_dirs, [{"test", [{recursive, true}]}]}.

% {profiles, [{test, [{deps, [meck]}]}]}.

{dialyzer, [{plt_extra_apps, [eunit, meck]}, {plt_apps, all_deps}]}.
